body {
  font-family: "khalid bold", sans-serif;
  text-align: center;
}

header img {
  display: block;
  max-width: 100%;
}

.image-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-text img {
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-text object {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}
