/* Set the font for the entire page */
body {
  font-family: "khalid bold", sans-serif;
  text-align: center;
}

/* Style the header */
header {
  background-image: url("IMG_1576.jpeg");
  background-size: cover;
  height: 150px;
  width: 100vw;
}

/* Style the title */
h1 {
  font-size: 48px;
  margin-top: 40px;
}

/* Style the content */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
